@import 'colors.scss';
body{
    background-color: $second;
}
.services{
    width: 70%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 150px;
    
}
